/*****General Style****/  
body{
background: linear-gradient(180deg, #ffff 20%, #f1dded 100%);
}



/*****logo Style****/
img{
max-width: 100%;
}
/*****subscribe who we are Style****/
.navbar-light .navbar-nav .nav-link{
color: #E54A5D;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
}
/***Sucscribe Modal***/
.h5{
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 30px;
text-align: center;
color: #6C6475;
margin-left: 15px;
}
.input{
width: 320px;
height: 40px;
background: #FFFFFF;
border: 1px solid #E2DADB;
border-radius: 50px;
margin-top: 50px;
}
.btn1{
width: 147px;
height: 40px;
background: #E54A5D;
border-radius: 50px;
color:white;
font-style: normal;
font-weight: bold;
}
.modal-fade{
border-radius: 16px;
}
/* Line 2 */
.line2{
width: 18px;
height: 0px;
margin-top: 15px;
border: 1px solid #E3E0E6;
transform: rotate(90deg);
}

/* Line 1 */

.Line1{
position: absolute;
width: 31px;
margin-left: 150px;
top: 332px;
border: 1px solid #E54A5D;
}

/* Coming soon */
.coming{
position: absolute;
top: 318px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #6C6475;
margin-left: 200px;
}
/* Digitize your Process */
h2{
position: absolute;
top: 361px;
text-align: center;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
color: #E54A5D;
margin-left: 60px;
}
.grey{
margin-left: 57px;
color: #2e2e1f;
}
/* Artwork */
.Artwork{
position: absolute;
left: 730px;
top: 239.25px;
margin-left: 90px;
}
/* counter  */
#counter{
position: absolute;
width: 437px;
height: 114px;
left: 501px;
top: 689px;
}
/* Be the first to know when e-nartek lanches */
h3{
position: absolute;
width: 694px;
height: 48px;
left: 373px;
top: 894px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
/* identical to box height */
color: #6C6475;

}
#days{
    position: absolute;
    width: 80px;
    height: 96px;
    left: 501px;
    top: 694px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #E54A5D;
    }
    #hours{
    position: absolute;
    width: 66px;
    height: 96px;
    left: 625px;
    top: 694px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #E54A5D;
    }
    
    #minutes{
    position: absolute;
    width: 76px;
    height: 96px;
    left: 736px;
    top: 694px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #E54A5D;
    }
    
    #seconds{
    position: absolute;
    width: 82px;
    height: 96px;
    left: 856px;
    top: 694px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #E54A5D;
}
.email{
position: absolute;
width: 378px;
height: 40px;
left: 450px;
top: 980px;
padding:15px;
background: #FFFFFF;
border: 1px solid #E2DADB;
border-radius: 50px;
}
.btn{
position: absolute;
width: 147px;
height: 40px;
left: 799px;
top: 980px;
background: #E54A5D;
border-radius: 50px;
color:white;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
}
/* Footer */
.creation p{
position: absolute;
width: 258px;
height: 20px;
left: 480px;
top: 1288px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 19px;
text-align: right;
color: #6C6475;
}
 .heart-footer{
position: absolute;
width: 16px;
height: 16px;
left: 740px;
top: 1290px;
}