/*****General Style****/  
body{
background: linear-gradient(180deg, #ffff 20%, #f1dded 100%);
}
/*****logo Style****/
img{
   max-width: 100%;
}
/*****subscribe who we are Style****/
.navbar-light .navbar-nav .nav-link{
color: #E54A5D;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
}
/***Sucscribe Modal***/
.h5{
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 30px;
text-align: center;
color: #6C6475;
margin-left: 15px;
}
.input{
width: 333px;
height: 40px;
background: #FFFFFF;
border: 1px solid #E2DADB;
border-radius: 50px;
margin-top: 50px;
padding: 10px;
}
.let-me{
width: 147px;
height: 40px;
background: #E54A5D;
border-radius: 50px;
color:white;
font-style: normal;
font-weight: bold;
}

/* Line 2 */
.line2{
width: 18px;
height: 0px;
margin-top: 15px;
border: 1px solid #E3E0E6;
transform: rotate(90deg);
}
 
 /* Line 1 */
.line1{
position: absolute;
width: 61px;
height: 0px;
left: 506px;
top: 260px;
border: 2px solid #E54A5D;
}

/* Who we are */

h2{
position: absolute;
left: 576px;
top: 225px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 130%;
color: #474558;
}

.paragraphe{
position: absolute;
width: 870px;
left: 278px;
top: 345px;
font-family: Poppins;
font-weight: 500;
line-height: 28px;
text-align: center;
color: #6C6475;
}
.paragraphe1{
position: absolute;
width: 885px;
left: 278px;
top: 505px;
font-family: Poppins;
font-weight: 500;
line-height: 28px;
text-align: center;
color: #6C6475;
}
/* UX & UI Design consultancy */
 .design{
position: absolute;
width: 184px;
left: 286px;
top: 700px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 130%;
text-align: center;
color: #474558;
}

/* Website Developement */
.Website{
position: absolute;
width: 137px;
left: 561px;
top: 700px;
font-family: Poppins;
font-weight: bold;
font-size: 18px;
line-height: 130%;
text-align: center;
color: #474558;
}
.Mobile{
position: absolute;
width: 137px;
left: 789px;
top: 700px;
font-family: Poppins;
font-weight: bold;
font-size: 18px;
line-height: 130%;
text-align: center;
color: #474558;
}
.CRM{
position: absolute;
width: 137px;
left: 1017px;
top: 700px;
font-family: Poppins;
font-weight: bold;
font-size: 18px;
line-height: 130%;
text-align: center;
color: #474558;
}
h4{
position: absolute;
width: 694px;
left: 373px;
top: 900px;
font-family: Poppins;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #6C6475;
}
.email{
position: absolute;
width: 378px;
height: 40px;
left: 450px;
top: 1000px;
padding:15px;
background: #FFFFFF;
border: 1px solid #E2DADB;
border-radius: 50px;
}
 .btn1{
position: absolute;
width: 147px;
height: 40px;
left: 770px;
top: 1000px;
background: #E54A5D;
border-radius: 60px;
color:white;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
}
/* Footer */
.creation p{
position: absolute;
left: 550px;
top: 1280px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 19px;
text-align: right;
color: #6C6475;
}
 .heart-footer{
position: absolute;
width: 16px;
height: 16px;
left: 764px;
top: 1283px;
}