/*****General Style****/
body{
    overflow-x: hidden;
    background: #ffff;
    
}
.Ellipse{
    position: absolute;
    left: -95.96%;
    right: -91.26%;
    top: 49.34%;
    bottom: -37.05%;
    background: linear-gradient(360deg, #FA9058 -85579.98%, rgba(255, 255, 255, 0.0001) 20012.39%);
    transform: rotate(-7.73deg);
    background-size: cover;    
}

/*****logo Style****/

img{
    position: absolute;
    width: 90px;
    height: 75.76px;
    left: 135px;
    top: 32px;
}

/*****subscribe Style****/
.subscribe {
position: absolute;
width: 72px;
height: 21px;
left: 1110px;
top: 40px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
text-align: right;
color: #E54A5D;
}

.modal-body.email{
    position: absolute;
    width: 378px;
    height: 40px;
    left: 494px;
    top: 962px;
    padding:15px;
    background: #FFFFFF;
    border: 1px solid #E2DADB;
    border-radius: 50px;
    }
    .modal-body.btn{
    position: absolute;
    width: 147px;
    height: 40px;
    left: 799px;
    top: 962px;
    background: #E54A5D;
    border-radius: 50px;
    color:white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    }
     
/* Who we are? */

.who {
 position: absolute;
 width: 91px;
 height: 21px;
 left: 1214px;
 top: 40px;   
 font-family: Poppins;
 font-style: normal;
 font-weight: 600;
 font-size: 14px;
 line-height: 21px;
/* identical to box height */    
 text-align: right;   
 color: #6C6475;   
}

/* Line 2 */

.line2{
position: absolute;
width: 18px;
height: 0px;
left: 1198px;
top: 50px;
border: 1px solid #E3E0E6;
transform: rotate(90deg);
}

/* Line 1 */

.Line1{
position: absolute;
width: 31px;
height: 0px;
left: 234px;
top: 332px;
border: 1px solid #E54A5D;
}

/* Coming soon */
.coming{
position: absolute;
width: 109px;
height: 24px;
left: 273px;
top: 318px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #6C6475;
}

/* Digitize your Process */

h2{
position: absolute;
width: 318px;
height: 124px;
left: 234px;
top: 361px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 130%;
/* or 62px */
color: #E54A5D;
}

.grey{
    color: #2e2e1f;
}

/* Artwork */

.Artwork{
position: absolute;
width: 376.92px;
height: 389.03px;
left: 730px;
top: 239.25px;
}
/* counter  */
#counter{
position: absolute;
width: 437px;
height: 114px;
left: 501px;
top: 689px;
}

/* Be the first to know when e-nartek lanches */

h3{
position: absolute;
width: 694px;
height: 48px;
left: 373px;
top: 894px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
/* identical to box height */
color: #6C6475;

}


/* 30 */

#groupe-counter .part1 p{
position: absolute;
width: 80px;
height: 96px;
left: 501px;
top: 694px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 96px;
/* identical to box height */
color: #E54A5D;
}
/* Days */

.Days {
position: absolute;
width: 31px;
height: 18px;
left: 526px;
top: 785px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */
text-align: center;
color: #6C6475;
}


/* : */
.separater1{
position: absolute;
width: 17px;
height: 96px;
left: 595px;
top: 689px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 96px;
/* identical to box height */
color: rgba(108, 100, 117, 0.2);
}
.part2 p{
position: absolute;
width: 66px;
height: 96px;
left: 625px;
top: 694px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 96px;
/* identical to box height */
color: #E54A5D;
}

/* Hours */

.Hours{
position: absolute;
width: 36px;
height: 18px;
left: 640px;
top: 785px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */
text-align: center;
color: #6C6475;

}
.part3{
position: absolute;
width: 76px;
height: 96px;
left: 736px;
top: 694px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 96px;
/* identical to box height */
color: #E54A5D;
}

.Minutes{
position: absolute;
width: 49px;
height: 18px;
left: 750px;
top: 785px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */
text-align: center;
color: #6C6475;
}

/* : */

.separater2{
position: absolute;
width: 17px;
height: 96px;
left: 705px;
top: 689px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 96px;
color: rgba(108, 100, 117, 0.2);
}

.separater3{
 position: absolute;
width: 17px;
height: 96px;
left: 826px;
top: 689px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 96px;
/* identical to box height */
color: rgba(108, 100, 117, 0.2);
}
.part4 p{
position: absolute;
width: 82px;
height: 96px;
left: 856px;
top: 694px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 96px;
/* identical to box height */
color: #E54A5D;
}


/* Seconds */
.Seconds{
position: absolute;
width: 53px;
height: 18px;
left: 870px;
top: 785px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */
text-align: center;
color: #6C6475;
}
/* Ellipse_7 */


.container input{
position: absolute;
width: 378px;
height: 40px;
left: 450px;
top: 980px;
padding:15px;
background: #FFFFFF;
border: 1px solid #E2DADB;
border-radius: 50px;
}
.container button{
position: absolute;
width: 147px;
height: 40px;
left: 799px;
top: 980px;
background: #E54A5D;
border-radius: 50px;
color:white;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
}
/* Footer */
.creation p{
position: absolute;
width: 258px;
height: 20px;
left: 480px;
top: 1288px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 19px;
text-align: right;
color: #6C6475;
}
 .heart-footer{
position: absolute;
width: 16px;
height: 16px;
left: 740px;
top: 1290px;
}